<!DOCTYPE html>
<html lang="en">
<head>
  <title>ΜΕΝΟΥ ΧΡΗΣΤΗ</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
 <link href="../css/custom_style.css" rel="stylesheet" type="text/css" />
 <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">


 <script src="https://www.gstatic.com/firebasejs/5.9.2/firebase.js"></script>
   <script src="https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.js"></script>
  <link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.css" />
  
  <!-- Firebase App is always required and must be first -->
  <script src="https://www.gstatic.com/firebasejs/5.9.2/firebase-app.js"></script>

  <!-- Add additional services that you want to use -->
  <script src="https://www.gstatic.com/firebasejs/5.9.2/firebase-auth.js"></script>
  <script src="https://www.gstatic.com/firebasejs/5.9.2/firebase-database.js"></script>
  <script src="https://www.gstatic.com/firebasejs/5.9.2/firebase-firestore.js"></script>
  <script src="https://www.gstatic.com/firebasejs/5.9.2/firebase-messaging.js"></script>
  <script src="https://www.gstatic.com/firebasejs/5.9.2/firebase-functions.js"></script>
  <script src="../js/init.js"></script> 


</head>
<body>
   <div id="firebaseui-auth-container"></div>
    

<div class="container">
      <div class="row">
        <div class="col-lg-12">
          <p>
            <a href="userprofile.html" class="btn btn-menu btn-sq-lg btn-primary">
                <i class="fas fa-user fa-4x"></i><br/>
                Προφίλ <br> Χρήστη 
            </a>
            <a href="#" class="btn  btn-menu  btn-success">
              <i class="fab fa-accessible-icon fa-4x"></i><br/>
              Κοινωνικές  <br> Υπηρεσίες
            </a>
            <a href="menu_reminders.html" class="btn btn-menu  btn-info">
 <i class="far fa-bell fa-4x"></i><br/>
 Υπενθυμίσεις
            </a>
            <a href="weather.html" class="btn btn-menu  btn-warning">
            <i class="fas fa-cloud-sun fa-4x"></i><br/>
              Πρόγνωση <br>Καιρού
            </a>
            <a href="pharmacies.html" class="btn btn-menu btn-grey">
             <i class="fas fa-laptop-medical fa-4x"></i><br/>
             Χάρτης <br>Φαρμακείων
            </a>
               <a href="#" class="btn btn-menu btn-danger">
             <i class="fas fa-sign-out-alt fa-4x"></i><br/>
             Έξοδος
            </a>
          </p>
        </div>
  </div>

<!--  <div class="alert alert-success" role="alert" hidden id="update-profile-success">
  This is a success alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you like.
</div> -->

</body>
</html>
